/data/raw_seq_nvbr/1369607.zip
/data/raw_seq_nvbr/1369628.zip
data/
/.Rhistory
/README[*Org Src README[ python ]*]
tmp/
data/tmp/
/scripts/.Rhistory
*.zip
/analysis/plots/counts_by_af.indels.dat
/analysis/plots/counts_by_af.snps.dat
/analysis/plots/depth.0.dat
/analysis/plots/depth.0.pdf
/analysis/plots/depth.0.png
/.project.uprj
/analysis/Analysis_Summary-Sanger_Pipeline.pdf
/*.png
/analysis/inattendu.png
/analysis/rapport/auto/presentation.el
/analysis/rapport/presentation.aux
/analysis/rapport/presentation.fdb_latexmk
/analysis/rapport/presentation.fls
/analysis/rapport/presentation.log
/analysis/rapport/presentation.nav
/analysis/rapport/presentation.out
/analysis/rapport/presentation.snm
/analysis/rapport/presentation.toc
/analysis/rapport/texput.fls
tools/
