/data/raw_seq_nvbr/1369607.zip
/data/raw_seq_nvbr/1369628.zip
data/
/.Rhistory
/README[*Org Src README[ python ]*]
tmp/
data/tmp/
/scripts/.Rhistory
*.zip
/analysis/plots/counts_by_af.indels.dat
/analysis/plots/counts_by_af.snps.dat
/analysis/plots/depth.0.dat
/analysis/plots/depth.0.pdf
/analysis/plots/depth.0.png
/.project.uprj
/analysis/Analysis_Summary-Sanger_Pipeline.pdf
/*.png
/analysis/inattendu.png
